body {
}

header {
  background:#888;
  border-bottom:2px solid black;
}

article {
  margin:1em 0;
  float:left;
  width:60%;
}

aside {
  margin:1em 0;
  float:right;
  width:30%;
}

footer {
  border-top:2px solid black;
  clear:both;
}




@media screen and (max-width: 640px) {
  article, aside {
    float:none;
    width:auto;
  }
}
