@-moz-keyframes pop {
  from {
    -moz-transform:rotate(230deg);
  }
  3% {
    -moz-transform:rotate(240deg);
  }
  6%{
    -moz-transform:rotate(220deg);
  }
  9% {
    -moz-transform:rotate(230deg);
  }
  to {
    -moz-transform:rotate(230deg)
  }
}


body {
  padding:10em 0 0 0;
  background:#191816;
}

body>div {
  margin:auto;
  -moz-transform:rotate(230deg);
  -webkit-transform:rotate(230deg);
  -o-transform:rotate(230deg);
  -ms-transform:rotate(230deg);
  transform:rotate(230deg);
  line-height:4em;
  font-size:3em;
  font-weight:bold;
  color:white;
  font-family:arial;
  -moz-transition:all 0.5s;
  -webkit-transition:all 0.5s;
  -o-transition:all 0.5s;
  -ms-transition:all 0.5s;
  transition:all 0.5s;
  -moz-animation: pop 10s infinite;
}

body>div:hover {
  -moz-transform:rotate(240deg) scale(1.3);
}

div {
  width:200px;
  height:200px;
  background:#CE321C;
  -moz-transform:rotate(36deg);
  -webkit-transform:rotate(36deg);
  -o-transform:rotate(36deg);
  -ms-transform:rotate(36deg);
  transform:rotate(36deg);
  text-align:center;
}