html, body {
  margin:0;
  padding:0;
}

body {
  background:#0B110D;
  font-family:helvetica;
  font-weight:bold;
}

header h1 {
  padding-top:1em;
  font-size:8em;
  color:#D3E4EB;
  text-shadow:0 2px 0 #284E41, 0 4px 0 #A4482F, 0 6px 0 #945049;
  -moz-transition: all 0.5s;
  text-align:center;
  margin:auto;
}

header h1:hover {
  text-shadow: 0 5px 0 #284E41, 0 10px 0 #A4482F, 0 15px 0 #945049;
}