h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:700;
  font-size:45px;
  margin-top:0;
}

@media screen and (max-width:800px) {
  h1 {font-size:25px;}
}

/*
$widescreen: 1200px;
$desktop: 980px;
$ipad: 768px;
$iphone: 480px;
*/